[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia 5 formas de crear objetos en JavaScript | Deusto Formación
Type=Link
URL=https://www.deustoformacion.com/blog/programacion-diseno-web/5-formas-crear-objetos-javascript
Icon=text-html
