[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Arrays y Objetos en JavaScript - ChuWiki
Type=Link
URL=http://chuwiki.chuidiang.org/index.php?title=Arrays_y_Objetos_en_JavaScript
Icon=text-html
