[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Serve SVG with the Correct Content Type | CSS-Tricks
Type=Link
URL=https://css-tricks.com/snippets/htaccess/serve-svg-correct-content-type/
Icon=text-html
