[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Aprende cómo crear un API REST usando Node.js, Express y MongoDB
Type=Link
URL=https://carlosazaustre.es/como-crear-una-api-rest-usando-node-js/
Icon=text-html
